<div class="container my-5">
  <h1>Nouvelle proposition d'entretien</h1>
  <!-- Section erreurs formulaire -->
  <div class="error-messages">
    <% if @time_slot.errors.any? %>
      <div id="error_explanation">
        <p><strong><%= pluralize(@time_slot.errors.count, " erreurs") %> empêchent l'envoie du formulaire:</strong></p>
        <ul>
          <% @time_slot.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <!-- Formulaire new time_slot -->
  <%= form_tag(time_slots_path, method: :post, html: { class: 'custom-form' }) do %>
    <!-- Section candidature(s) sélectionné(s) -->
    <div class="selected-candidates">
      <% if @selected_candidatures_ids.nil? %>
        <p>Aucune candidature sélectionnée.</p>
      <% else %>
        <p>Candidatures retenues :</p>
        <div class="mb-4">
          <% @selected_candidatures.each do |candidature| %>
            <div class="card card-time-slot mb-2">
              <div class="col candidature-infos">
                <%= check_box_tag "selected_candidatures[]", candidature.id, true, class: "candidature-checkbox" %>
                <%= cl_image_tag candidature.user.avatar.key, class: "avatar", alt: "avatar" %>
                <%= candidature.user.first_name %> <%= candidature.user.last_name %>
              </div>
              <!-- Formulaire new time_slot -->
              <div class="col time-slot-inputs">
                <label for="date-<%= candidature.id %>">Date:</label>
                <%= date_field_tag "date-#{candidature.id}", as: :string, label: 'Date', input_html: { data: { controller: 'datepicker' }, class: 'datepicker-input' } %>
              </div>
              <div class="col time-slot-inputs">
                <label for="date-<%= candidature.id %>">Heure:</label>
                <%= time_field_tag "time-#{candidature.id}", as: :string, label: 'Heure', input_html: { data: { controller: 'datepicker' }, class: 'timepicker-input' } %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="form-actions mt-4">
      <%= submit_tag "Envoyer", class: 'btn btn-primary mb-2'%>
      <%= link_to "Revenir à la selection des candidats",  job_offer_candidatures_path(@job_offer), class: "btn btn-light mb-2" %>
    </div>
  <% end %>
</div>
