<div class="container my-5">
  <h1>Nouvelle proposition d'entretien</h1>
  <!-- Section erreurs formulaire -->
  <div class="error-messages">
    <% if @time_slot.errors.any? %>
      <div id="error_explanation">
        <p><strong><%= pluralize(@time_slot.errors.count, " erreurs") %> empêchent l'envoie du formulaire:</strong></p>
        <ul>
          <% @time_slot.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <!-- Formulaire new time_slot -->
  <div class="row justify-content-flex-start">
    <div class="col-md-4">
      <%= simple_form_for(@time_slot, html: { class: 'custom-form' }) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <!-- Section candidature(s) sélectionné(s) -->
        <div class="selected-candidates">
          <% if @selected_candidatures_ids.nil? %>
            <p>Aucune candidature sélectionnée.</p>
          <% else %>
            <p>Candidatures retenues :</p>
            <div class="mb-4">
              <% @selected_candidatures.each do |candidature| %>
                <%= check_box_tag "selected_candidatures[]", candidature.id, true, class: "candidature-checkbox" %>
                <%= candidature.user.first_name %> <%= candidature.user.last_name %>
              <% end %>
            </div>
          <% end %>
        </div>
        <!-- Formulaire new time_slot -->
        <div class="form-inputs">
          <%= f.input :date, as: :string, label: 'Date', input_html: { data: { controller: 'datepicker' }, class: 'datepicker-input' } %>
          <%= f.input :time, as: :string, label: 'Heure', input_html: { data: { controller: 'datepicker' }, id: 'timepicker-input' } %>
        </div>

        <div class="form-actions mt-4">
          <%= f.button :submit, class: 'btn btn-primary mb-2'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
