<div class="container my-5">
  <div class="container mb-5 d-flex flex-row justify-content-between">
    <div class="card">
      <h2>Entretiens</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Statut</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% @interviews.each do |interview| %>
              <tr>
                <td><strong><%= interview.user.first_name %> <%= interview.user.last_name %></strong></td>
                <td><%= interview.status %></td>
                <td><%= interview.time_slot.date %></td>
              </tr>
            <% end %>
          </tbody>
        </table>







    </div>
    <div class="card">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-file-earmark-person-fill" viewBox="0 0 16 16">
        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm2 5.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-.245S4 12 8 12s5 1.755 5 1.755z"/>
      </svg>
      <br>
      <h1 class="text-center" style="color: blue;"><%= @total_interviews %></h1>
      <p>entretiens passés</p>
    </div>

    <div class="card">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#FF0000" class="bi bi-person-workspace" viewBox="0 0 16 16">
        <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
        <path d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
      </svg>
      <br>
      <h1 class="text-center" style="color: blue;"><%= @total_job_offers %></h1>
      <p>offres d'emploi publiées</p>
    </div>
  </div>




  <div>
    <div class="card">
          <h2>Offres emplois</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Entreprise</th>
            <th scope="col" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Titre de l'annonce</th>
            <th scope="col" class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
          </tr>
        </thead>
          <% @job_offers.each do |job_offer| %>
            <tr>
              <td>
                <div class="d-flex px-2 py-1">
                  <div>
                    <img src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/team-2.jpg" class="avatar avatar-sm me-3">
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-xs">John Michael</h6>
                    <p class="text-xs text-secondary mb-0">john@creative-tim.com</p>
                  </div>
                </div>
              </td>
              <td>
                <a href="<%= job_offer_path(job_offer)%>"><%= job_offer.title %></a>
              </td>
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;"><%= job_offer.description %></td>
            </tr>
          <% end %>
      </table>
      <div class="text-center">
        <%= link_to "Créer offre d'emploi", new_job_offer_path, class: "btn btn-primary rounded-4 mb-3" %>
      </div>
    </div>
  </div>
</div>
