<div class="container my-5">
  <div class="container mb-5 d-flex justify-content-between">
    <div class="card">
      <h2>Entretiens</h5>
        <table class="table">
          <thead>
            <tr>
              <th>Candidat</th>
              <th>Statut</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <% @time_slots.each do |time_slot| %>
              <tr>
                <td><strong><%= time_slot.candidature.user.first_name %> <%= time_slot.candidature.user.last_name %></strong></td>
              <td><% if time_slot.status == "Accepted" %>
                <span class="badge bg-success"><%= time_slot.translated_status %></span>
              <% elsif time_slot.status == "Rejected" %>
                <span class="badge bg-danger"><%= time_slot.translated_status %></span>
              <% else %>
                <span class="badge bg-warning"><%= time_slot.translated_status %></span>
              <% end %></td>
            <td><%= I18n.l(time_slot.date) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

    </div>
    <div class="card">
      <%= image_tag("candidature.png", width: 50, height: 50) %>
      <br>
      <br>
      <h1 class="text-center" style="color: #CB0C9F;"><%= @total_candidatures %></h1>
      <p>candidatures</p>
    </div>

    <div class="card">
      <%= image_tag("interview.png", width: 50, height: 50) %>
      <br>
      <br>
      <h1 class="text-center" style="color: #CB0C9F"><%= @total_time_slots %></h1>
      <p>entretiens à venir</p>
    </div>

    <div class="card">
      <%= image_tag("work.png", width: 50, height: 50) %>
      <br>
      <br>
      <h1 class="text-center" style="color: #CB0C9F"><%= @total_job_offers %></h1>
      <p>offres d'emplois</p>
    </div>
  </div>




  <div>
    <div class="card">
          <h2>Offres emplois</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Entreprise</th>
            <th scope="col" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Titre de l'annonce</th>
            <th scope="col" class="text-uppercase text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
            <th scope="col" class="text-uppercase text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date de publication</th>
            <th></th>
          </tr>
        </thead>
          <% @job_offers.each do |job_offer| %>
            <tr>
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
                <div class="d-flex px-2 py-1">
                  <div>
                      <%= cl_image_tag job_offer.company.logo.key, class: "avatar", alt: "logo entreprise" %>
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="mb-0 text-xs"><strong><%= job_offer.company.name %></strong></h6>
                  </div>
                </div>
              </td>
              <td>
                <a href="<%= job_offer_path(job_offer)%>"><%= job_offer.title %></a>
              </td>
              <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;"><%= job_offer.description %></td>
              <td>
                <div class="d-flex flex-column justify-content-center">
                  <%= I18n.l(job_offer.start_date) %>
                </div>
              </td>
            </tr>
          <% end %>
      </table>
      <div class="text-center">
        <%= link_to "Créer offre d'emploi", new_job_offer_path, class: "btn btn-primary rounded-4 mb-3" %>
      </div>
    </div>
  </div>
  <div class="card mt-2">
    <div class="card-body p-3">
      <canvas id="bar-chart" width="400" height="200"></canvas>
    </div>
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script>
  // Données fictives pour le graphique à barres
  var statut_pending = <%= Candidature.where(status: "submitted").count %>;
  var statut_rejected = <%= Candidature.where(status: "rejected").count %>;
  var statut_accepted = <%= Candidature.where(status: "accepted").count %>;

  var data = {
    labels: ["En attente", "Refusé", "Accepté"],
    datasets: [
      {
        label: "Nombre de candidatures",
        data: [statut_pending, statut_rejected, statut_accepted], // Utilisez les variables Ruby ici
        backgroundColor: ["#e67e22", "#fd1015", "#1edd88"],
      },
    ],
  };

  var ctx = document.getElementById("bar-chart").getContext("2d");
  var myBarChart = new Chart(ctx, {
    type: "bar",
    data: data,
    options: {
      responsive: true,
      scales: {
        x: {
          beginAtZero: true,
        },
        y: {
          beginAtZero: true,
        },
      },
    },
  });
</script>
