<%= form_with(model: [@feedback, @interview], url: interview_feedbacks_path(@interview), method: :post, html: { class: 'custom-form' }) do |form| %>
  <!-- Champs du formulaire pour le feedback, par exemple : -->
  <% if @feedback.errors.any? %>
    <% @feedback.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  <% end %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="card">
        <div class="card-header">
          <h5>Ajouter une évaluation</h5>
        </div>
        <div class="card-body">
          <div class="form-inputs">
            <%= form.label :score, "Note :", class: "form-label" %>
          </div>
          <%= form.select :score, (1..5).to_a, { prompt: "Appliquer une note" }, { data: { controller: "star-rating" } } %>
          <br>
          <div class="form-inputs">
            <%= form.label :comment, "Commentaire :", class: "form-label" %>
          </div>
          <%= form.text_area :comment %>
          <%= form.submit 'Ajouter le feedback', { class: "btn btn-primary float-end" } %>
        </div>
      </div>
    </div>
  </div>
<% end %>
