<div class="container">

  <div class="card">
    <h5 class="card-header text-center">Liste des offres d'emplois</h5>
    <div class="table-responsive text-nowrap">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Entreprise</th>
            <th>Titre de l'annonce</th>
            <th>Description</th>
            <th>industry</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <% @job_offers.each do |job_offer| %>
            <tr>
              <td>
                <a href="<%= job_offer_path(job_offer)%>">
                  <strong><%= job_offer.company.name %></strong>
                </a>
              </td>
              <td><%= job_offer.title %></td>
              <td><%= job_offer.description %></td>
              <td><%= job_offer.industry %></td>
              <td>
                <div class="dropdown">
                  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="<%= edit_job_offer_path(job_offer) %>"><i class="bx bx-edit-alt me-1"></i> Modifier</a>
                    <i class="bx bx-trash me-1 dropdown-item"></i>
                    <%=link_to "Supprimer", job_offer_path(job_offer), data: {turbo_method: :delete, turbo_confirm: "etes-vous sur de vouloir supprimer l'offre?"}, class: "bx bx-trash me-1 dropdown-item"%>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
