<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag "favicon_v2.png", rel: "icon", type: "image/png" %>
    <title>EasyRecruit : la solution de recrutement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://ga.jspm.io/npm:star-rating.js@4.3.0/dist/star-rating.css">
    <link href="/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
    <style>
      .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 250px; /* Ajustez la largeur de la barre latérale selon vos besoins */
        background-color: #f8f9fa; /* Couleur de fond de la barre latérale */
        overflow-y: auto; /* Permet le défilement vertical si le contenu dépasse la hauteur de la barre latérale */
        padding: 20px; /* Espace intérieur de la barre latérale */
      }

      .sidebar-nav {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .sidebar-item {
        padding: 10px 20px;
        border-left: 3px solid transparent;
      }

      .sidebar-link {
        text-decoration: none;
        color: #333; /* Couleur du texte */
        display: block;
      }

      .sidebar-link:hover {
        background-color: #e9ecef; /* Couleur de fond au survol */
        border-radius: 0 10px 10px 0; /* Ajout d'un ombrage arrondi à gauche */
      }

      .sidebar-link.active {
        border-left: 3px solid #cb0c9f; /* Couleur du bord gauche pour l'élément actif */
        background-color: #e9ecef; /* Couleur de fond de l'élément actif */
        border-radius: 0 10px 10px 0; /* Ajout d'un ombrage arrondi à gauche */

      }

      /* Style pour le contenu principal à droite de la barre latérale */
      .content {
        margin-left: 250px; /* Assure que le contenu ne soit pas caché sous la barre latérale */
        padding: 20px; /* Espace intérieur du contenu principal */
      }
    </style>

  </head>

  <body>
    <div class="sidebar">
      <!-- Contenu de la barre latérale -->
      <%= render "shared/sidebar" %>
    </div>
    <div class="content">
      <%= render "shared/flashes" %>
      <!-- Contenu principal -->
      <%= yield %>
    </div>
  </body>
</html>
